@import "tailwindcss";

body {
    @apply bg-cyan-900/10
}

.card-search {
    @apply bg-white lg:p-6 p-4 rounded-lg shadow-md flex flex-col space-y-1 min-w-[42%]
}

.search-button {
    @apply text-white text-center font-medium lg:px-5 px-4 py-2 rounded-lg bg-cyan-900/80 hover:bg-cyan-900/90
}

.input-style {
    @apply border-b border-cyan-700 px-3 py-1 focus:outline-none;
}

.label {
    @apply font-semibold lg:text-lg mb-3;
}

.sub-label {
    @apply font-medium text-gray-900 text-sm;
}

.md-label {
    @apply font-medium text-gray-900
}

.tr-cli-style {
    @apply flex flex-col md:flex-row justify-between items-center border-b border-dotted border-cyan-700/40 pt-2;
}

.tr-style {
    @apply flex justify-between items-center border-b border-dotted border-cyan-700/20 pt-2 px-3;
}

.column-tbody {
    @apply min-w-[80%] space-y-1 py-3;
}

.caption-style {
    @apply font-medium bg-cyan-900/90 text-white py-2;
}

.error-card {
    @apply text-center lg:max-w-[50%] md:max-w-[70%] max-w-[90%] w-full mx-auto bg-red-100 border border-red-400 text-red-700 px-3 py-2 rounded shadow-sm
}

.card-list {
    @apply flex flex-col md:flex-row gap-2 md:items-center md:justify-between p-4 rounded-lg bg-white shadow-sm hover:shadow-md transition
}

.table-fc-label {
    @apply px-4 py-1 text-left bg-[#e8edef];
}

.table-fc-sublabel {
    @apply px-4 py-2;
}

.card-pagos-label {
    @apply flex justify-between items-center border-b border-dotted border-cyan-700/20 pt-2 px-3
}